.container {
    max-width: 915px;
    margin: 1% auto;
    position: relative;

}

.photos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    width: fit-content;
}